.container {
    margin: 0 auto;
    padding: 40px;
    width: 700px;
  }
  
  .faq-question {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    line-height: 30px;
  }
  .faq-question:hover,
  .faq-question:hover::after {
    cursor: pointer;
    font-weight: bold;
  }
  .faq-question.active {
    border-bottom: 3px solid;
    font-weight: bold;
  }
  .faq-question::after {
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .faq-question.active::after {
    content: '-';
  }
  .faq-answer {
    opacity: 0;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease 0.15s;
  }
  .faq-answer.active {
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
  }