body{
    margin: 0px;
}

.navbar{
    background-color: rgb(74, 172, 150);
}
.navbar ul{
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px; 
    
}
.navbar img{
   
    float: left;
}
.navbar img:hover{
    background-color: rgb(74, 172, 150);
    float: left;
}
.navbar pre{
    color: aliceblue;
    float: left;
    padding-top: 5px;  
    padding-left: 5px;
    font-size: 15px;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
}
.navbar a:hover{
    background-color: rgb(35, 68, 110);
    color: aliceblue;
}
.navbar li{
    float: right;
}
.link a{
    margin-top: 2px;
    margin: 0px;
    padding: 0px;
}


























footer {
    
    background-color: rgb(74, 172, 150);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3px; 
    padding-top: 0; 
    
}
footer li{
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
    
}
.foote ul{
    display: flex;
    justify-content: center;
    
}
footer a{
    color: aliceblue;
    text-decoration: none;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}
footer a:hover{
    background-color: rgb(35, 68, 110);
    color: aliceblue;
}
footer p{
    text-align: center;  
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}